.slide-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .slide-left {
        display: flex;
        margin-bottom: 0;
    }
    .slide-right {
        display: flex;
        margin-bottom: 0;
    }
}
